        @font-face {
            font-family: "bold";
            src: url(../font/static/NotoSansSC-Bold.ttf);
        }

        @font-face {
            font-family: "light";
            src: url(../font/static/NotoSansSC-Light.ttf);
        }

        * {
            padding: 0;
            margin: 0;
            list-style: none;
            box-sizing: border-box;
        }

        body {
            background-color: #F0F4F8;
        }